.bg {
  width: 100%;
  background: center/cover url(../images/home/background-home-desktop.jpg);
}

.bg-index {
  animation: bigger 20s alternate forwards;
  @keyframes bigger {
    to {
      background: top left/cover url(../images/home/background-home-desktop.jpg);
    }
  }
  @include pad {
    background: center/cover url(../images/home/background-home-tablet.jpg);
    animation: none;
  }
  @include mobile {
    background: center/cover url(../images/home/background-home-mobile.jpg);
  }
}

.bg-crew {
  background: center/cover url(../images/crew/background-crew-desktop.jpg);
  @include pad {
    background: center/cover url(../images/crew/background-crew-tablet.jpg);
  }
  @include mobile {
    background: center/cover url(../images/crew/background-crew-mobile.jpg);
  }
}

.bg-destination {
  background: center/cover
    url(../images/destination/background-destination-desktop.jpg);
  @include pad {
    background: center/cover
      url(../images/destination/background-destination-tablet.jpg);
  }
  @include mobile {
    background: center/cover
      url(../images/destination/background-destination-mobile.jpg);
  }
}

.bg-technology {
  background: center/cover
    url(../images/technology/background-technology-desktop.jpg);
  @include pad {
    background: center/cover
      url(.../images/technology/background-technology-tablet.jpg);
  }
  @include mobile {
    background: center/cover
      url(../images/technology/background-technology-mobile.jpg);
  }
}
