.crew-img {
  @include pad {
    margin-bottom: 120px;
  }
  @include mobile {
    margin-bottom: 100px;
  }
}

.crew-img-item {
  height: 712px;
  width: auto;
  object-fit: contain;
  object-position: center bottom;
  @media (max-width: 992px) {
    height: 532px;
  }
  @include mobile {
    height: 222px;
  }
}

.crew-article-pb {
  padding-bottom: 120px;
}
