.index-btn {
  background: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 2px;
  border-radius: 50%;
  @include size(274px);
  @include pad {
    @include size(242px);
  }
  @include mobile {
    @include size(150px);
    font-size: 1.25rem;
    letter-spacing: 1.25px;
  }
  &::after {
    content: "";
    position: absolute;
    @include size(274px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 0.5s;
    @media (max-width: 1320px) {
      content: none;
    }
  }
  &:hover::after {
    @include size(450px);
  }
}
