.indexTitle {
  font-size: 9.375rem;
  @include mobile {
    font-size: 5rem;
  }
}

.planetTitle {
  font-size: 6.25rem;
  @include pad {
    font-size: 5rem;
  }
  @include mobile {
    font-size: 3.5rem;
  }
}

.crew-technology-title {
  font-size: 3.5rem;
  @include pad {
    font-size: 2.5em;
  }
  @include mobile {
    font-size: 1.5rem;
  }
}

.destinationTitle {
  font-size: 6.25rem;
  @include pad {
    font-size: 5rem;
  }
  @include mobile {
    font-size: 3.5rem;
  }
}

.pageTitle {
  font-size: 1.75rem;
  letter-spacing: 4.72px;
  padding-top: 212px;
  transform: translateY(33px);
  @media (max-width: 992px) {
    font-size: 1.125rem;
    letter-spacing: 3.38px;
    padding-top: 136px;
    padding-bottom: 60px;
    transform: translateY(0px);
  }
  @media (max-width: 768px) {
    padding-top: 136px;
    padding-bottom: 60px;
  }
  @include mobile {
    font-size: 1rem;
    letter-spacing: 2.7px;
    padding-top: 88px;
    padding-bottom: 32px;
  }
}
